/* Se importa la fuente desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Dentro del header se pondra las siguientes caracteristicas: 
    font-family: Se pone el estilo de letra predeterminado y uno auxiliar por si cae el otro
    font-optical-sizing: Propiedad que dice para que se ajuste el tamaño de la fuente de forma automatica
    font-weight: Propiedad que permite elegir el grosor de la letra
    font-style: Propiedad que permite elegir el estilo de la letra;
*/

html{
    font-size: 16px;
}
header{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
}